body {
    margin: 0;
    font-family: "Open Sans", Roboto, Calibri, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.top-item {
    margin-top: 100px;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: white;
    box-shadow:0px 8px 8px #eee;
}

footer {
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    bottom: 0;
    background-color: lightgray;
}

section {
    width: 80%;
    margin-top: 3em;
    margin-left: 10%;
    display: table;
}

article {
    border-color: #41b6e6;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 20px;
    width: 800px;
    display: flex;
    float: left;
}

article a.box-link {
    text-decoration: none;
}

article a.box-link:hover {
    background-color: #d5e2ee;
    color: black;
}

div.col {
    vertical-align: top;
    display: table-cell;
    margin: 0;
    z-index: 3;
}

div.description {
    vertical-align: top;
    display: table-cell;
    padding-left: 2em;
    margin: 0;
    z-index: 3;
}


div.description h3 {
    margin-top: auto;
}

figure {
    display: table-cell;
    padding: 8px 8px 8px 8px;
}

header h1 {
    margin-left: 10%;
    display: inline-block;
}

header p {
    padding-right: 10%;
    /* display: inline-block; */
    float: right;
}

h4,h5,h6 {
    font-weight: 400;
}

h2 {
    font-weight: 200;
    font-size: 56px;
}

h3 {
    font-weight: 200;
    font-size: 32px;
}

h2.top-item {
    margin-left: 10%;
    width: 80%;
}

h4 {
    font-style: italic
}

strong {
    font-weight: 400;
}

span.selected {
    color: #41b6e6;
}

header a {
    text-decoration: none;
}

a:active, a:visited, a:link {
    color:black
}

a:hover {
    color: #41b6e6;
}
