@import url('base.css');

body {
    font-weight: 250;
    font-family: "Noto Sans CJK JP", sans-serif;
}

header {
    font-family: "Open Sans", Roboto, Calibri, Helvetica, Arial, sans-serif;
}

h2,h3,h4,h5,h6 {
    font-family: "Noto Sans CJK JP", sans-serif;
}

h4 {
    font-style: normal;
    text-decoration: underline;
}

strong {
    font-family: "Noto Sans CJK JP", sans-serif;
}
